body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
.flex-container {
    display: flex;
    background-color: antiquewhite;
}
.flex-item {
    flex: 1;
    background-color: black;
    padding: 20xp;
    margin: 10px;
    text-align: center;
}